*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: black;
  color: white;
}
/* Header start */
header{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  /* background-color: purple; */
}
.logo{
  font-weight: 500;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: 0.3s ease;
}
.logo span{
  color: #00ffee;
  text-shadow: -1px 1px 25px #00ffee, 1px -1px 10px #00ffee;
}
.logo:hover{
  transform: scale(1.1);
}
nav a{
  position: relative;
  color: white;
  text-decoration: none;
  margin-left: 3vw;
  /* transition: 0.3s ease; */
  /* border-bottom: 3px solid transparent; */
}
.navbar a::before{
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 3px solid #00ffee;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
nav a:hover{
  color: #00ffee;
}
nav a:hover::before{
  transform: scaleX(1);
}
nav .active{
  color: #00ffee;
  /* text-decoration: underline; */
  /* border-bottom: 3px solid #00ffee; */
}
/* Header finish */

/* Main content start */
section{
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}
.home{
  width: 100%;
  /* background-color: #00e5d2; */
  display: flex;
  /* gap: 15rem; */
  justify-content: center;
  align-items: center;
}
.home-content{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: baseline;
  margin-top: 3rem;
}
.home-content h3{
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.home-content h1{
  font-size: 2rem;
}
section span{
  color: #00ffee;
}
.home-content p{
  font-size: 0.8rem;
}
.home-img img{
  box-shadow: 0px 0px 20px #00ffee ;
  transition: 0.3s ease;
  border-radius: 50%;
  height:40vh;
  width: 40vh;
  transform: scale(1);
  z-index: 0;
}
img:hover{
  box-shadow: -0px -0px 40px #00ffee, 0px 0px 40px #00ffee;
  transform: scale(1.02)translateY(-8px);
}
.home-content p{
  max-width: 1000px;
}

.social-icons{
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
}
.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: white;
  height: 3.5rem;
  width: 3.5rem;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  /* color: #00ffee; */
  /* border-radius: 50%; */
}
.social-icons a:hover{
  color: #00ffee;
  /* color: white; */
  /* box-shadow:  0 0 10px #00ffee; */
  transform: scale(1.3)translateY(-5px);
}
.btn-group{
font-size: 1rem;
display: flex;
justify-content: space-between;
text-align: left;
min-width: 15rem;
transition: 0.5 ease;
border: 1px solid transparent;

}
.btn-group a{
  background-color: #00ffee;
  font-weight: 500;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  padding: 0.2rem 1rem;
  transition: 0.3s ease;
}
.btn-group a:hover{
  color: white;
  transform: scale(1)translateY(-5px);
  box-shadow: 0 0 10px #00ffee;
}

.text-animation{
  font-size: 2rem;
  min-width: 280px;
}
.text-animation span{
  position: relative;
}
.text-animation span::before{
  content: "Web Designer";
  color: #00ffee;
  animation: words 20s infinite;
}
.text-animation span::after{
  content: "";
  position: absolute;
  background-color: black;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid #00ffee;
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
  to{
    border-left: 2px solid black;
  }
} 

@keyframes words{
  0%,
  20%{
    content: "Frontend Designer";
  }
  21%,
  40%{
    content: "Web Designer";
  }
  41%,
  60%{
    content: "Fresher";
  }
  61%,
  80%{
    content:"Web Developer";
  }
  81%,
  100%{
    content: "Student";
  }
}

@keyframes typing{
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%{
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%{
    width: calc(100% + 8px);
  }
}


/* section education */
.education{
  background-color: rgb(23, 21, 21);
  padding: 100px 15px;
  /* width: 100%; */
}
.heading{
  font-size: 3rem;
  text-align: center;
}
.education h2{
  margin-bottom: 3rem;
}
.timeline-items{
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #00ffee;
  left: calc(50% - 10px);
}
.timeline-item{
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: #00ffee;
  box-shadow: 0 0 25px #00ffee,0 0 50px #00ffee;
  position: absolute;
  left: calc(50% - 18px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date{
  font-size: 20px;
  color: white;
  margin: 6px 0 15px;
}
.timeline-content{
  background-color: black;
  border: 3px solid #00ffee;
  padding: 20px 30px;
  /* min-width:200px; */
  /* text-align: center; */
  border-radius: 4rem;
  box-shadow: 0 0 10px #00ffee;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-content:hover{
  transform: scale(1.05)translateY(-5px);
  box-shadow: 0 0 25px #00ffee;
}
.timeline-content h3{
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
}
.timeline-content p{
  color: white;
  font-size: 13px;
  line-height: 22px;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  border: 5px solid #0e4f4a;
  background-color: #00ffee;
}
::-webkit-scrollbar-track{
  background-color: black;
  width: 50px;
}

/* section services */
.services{
  /* font-size: 1px; */
  background-color: black;
}

/* section contact us */
/* .part{
  background-color: #05998d;
  min-height: 600px;
  border-radius: 10px;
} */
.contactus{
  /* background-color: #00e5d2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 25%; */
  /* height: 25%;
  width: 50%; */
  /* border-radius: 10px; */
  /* width: 100%; */
  color: white;
}
.contactus h1{
  
  font-size: 2.5rem;
  margin-bottom: 2rem;
  /* padding-top: 20px; */
  
}
.form {
  display: flex;
  justify-content:space-between;
}
.form .label{
  font-weight: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.7rem;
}
.label input{
  border: 2px solid black;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #c9f5f2;
}
.message textarea{
  border: 1px solid black;
  border-radius: 5px;
  background-color: #c9f5f2;
}
.sendbtn button{
  padding: 0.5rem;
  font-size: 15px;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #4de7dc;
  transition: transform 0.3s ease;
}

.sendbtn button:hover{
  cursor: pointer;
  transform: scaleX(1.1);
}


/* Responsiveness */

@media screen and (max-width: 426px ){
  header{
    display: flex;
    flex-direction: row;
  }
  .navbar{
    display: flex;
    flex-direction: column;
  }

  .home{
    width: 150%;
    gap: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .education{
    width: 150%;
  }

  .services{
    width: 150%;
  }
  
  .contactus{
    width: 150%;
  }
}

@media screen and (max-width: 321px){
  .home{
    width: 200%;
  }
  .education{
    width: 200%;
  }
  .services{
    width: 200%;
  }
  .contactus{
    width: 200%;
  }
}

@media screen and (max-width: 376px){
  .home{
    width: 200%;
  }
  .education{
    width: 200%;
  }
  .services{
    width: 200%;
  }
  .contactus{
    width: 200%;
  }
}
@media screen and (max-width:500px){
  .home{
    width: 290%;
    display: flex;
    flex-direction: column;
  }
  .education{
    width: 290%;
  }
  .services{
    width: 290%;
  }
  .contactus{
    width: 290%;
  }
}

